In [36]:
import requests
import pandas as pd
import json

url = "https://anapioficeandfire.com/api/characters/100"

r = requests.get(url)

In [37]:
r.content

b'{"url":"https://www.anapioficeandfire.com/api/characters/100","name":"Alysanne Bulwer","gender":"Female","culture":"","born":"In 291 AC","died":"","titles":["Lady of Blackcrown"],"aliases":[],"father":"","mother":"","spouse":"","allegiances":["https://www.anapioficeandfire.com/api/houses/52"],"books":["https://www.anapioficeandfire.com/api/books/3","https://www.anapioficeandfire.com/api/books/5","https://www.anapioficeandfire.com/api/books/8"],"povBooks":[],"tvSeries":[],"playedBy":[]}'

In [27]:
r.json()

{'url': 'https://www.anapioficeandfire.com/api/characters/100',
 'name': 'Alysanne Bulwer',
 'gender': 'Female',
 'culture': '',
 'born': 'In 291 AC',
 'died': '',
 'titles': ['Lady of Blackcrown'],
 'aliases': [],
 'father': '',
 'mother': '',
 'spouse': '',
 'allegiances': ['https://www.anapioficeandfire.com/api/houses/52'],
 'books': ['https://www.anapioficeandfire.com/api/books/3',
  'https://www.anapioficeandfire.com/api/books/5',
  'https://www.anapioficeandfire.com/api/books/8'],
 'povBooks': [],
 'tvSeries': [],
 'playedBy': []}

In [49]:
r.json().keys()

dict_keys(['url', 'name', 'gender', 'culture', 'born', 'died', 'titles', 'aliases', 'father', 'mother', 'spouse', 'allegiances', 'books', 'povBooks', 'tvSeries', 'playedBy'])

In [44]:
df = pd.DataFrame(columns=r.json().keys())
df.head()

Empty DataFrame
Columns: [url, name, gender, culture, born, died, titles, aliases, father, mother, spouse, allegiances, books, povBooks, tvSeries, playedBy]
Index: []

In [46]:
for i in range(1,150):
    url = f"https://anapioficeandfire.com/api/characters/{i}"
    r = requests.get(url)
    df.loc[i]=(r.json())
    print("Ajout ",i)

Ajout  1
Ajout  2
Ajout  3
Ajout  4
Ajout  5
Ajout  6
Ajout  7
Ajout  8
Ajout  9
Ajout  10
Ajout  11
Ajout  12
Ajout  13
Ajout  14
Ajout  15
Ajout  16
Ajout  17
Ajout  18
Ajout  19
Ajout  20
Ajout  21
Ajout  22
Ajout  23
Ajout  24
Ajout  25
Ajout  26
Ajout  27
Ajout  28
Ajout  29
Ajout  30
Ajout  31
Ajout  32
Ajout  33
Ajout  34
Ajout  35
Ajout  36
Ajout  37
Ajout  38
Ajout  39
Ajout  40
Ajout  41
Ajout  42
Ajout  43
Ajout  44
Ajout  45
Ajout  46
Ajout  47
Ajout  48
Ajout  49
Ajout  50
Ajout  51
Ajout  52
Ajout  53
Ajout  54
Ajout  55
Ajout  56
Ajout  57
Ajout  58
Ajout  59
Ajout  60
Ajout  61
Ajout  62
Ajout  63
Ajout  64
Ajout  65
Ajout  66
Ajout  67
Ajout  68
Ajout  69
Ajout  70
Ajout  71
Ajout  72
Ajout  73
Ajout  74
Ajout  75
Ajout  76
Ajout  77
Ajout  78
Ajout  79
Ajout  80
Ajout  81
Ajout  82
Ajout  83
Ajout  84
Ajout  85
Ajout  86
Ajout  87
Ajout  88
Ajout  89
Ajout  90
Ajout  91
Ajout  92
Ajout  93
Ajout  94
Ajout  95
Ajout  96
Ajout  97
Ajout  98
Ajout  99
Ajout  100
Ajout  101
Ajout  102
Ajout  103
Ajout  104
Ajout  105
Ajout  106
Ajout  107
Ajout  108
Ajout  109
Ajout  110
Ajout  111
Ajout  112
Ajout  113
Ajout  114
Ajout  115
Ajout  116
Ajout  117
Ajout  118
Ajout  119
Ajout  120
Ajout  121
Ajout  122
Ajout  123
Ajout  124
Ajout  125
Ajout  126
Ajout  127
Ajout  128
Ajout  129
Ajout  130
Ajout  131
Ajout  132
Ajout  133
Ajout  134
Ajout  135
Ajout  136
Ajout  137
Ajout  138
Ajout  139
Ajout  140
Ajout  141
Ajout  142
Ajout  143
Ajout  144
Ajout  145
Ajout  146
Ajout  147
Ajout  148
Ajout  149

In [48]:
df.head()

,url,name,gender,culture,born,died,titles,aliases,father,mother,spouse,allegiances,books,povBooks,tvSeries,playedBy
1,https://anapioficeandfire.com/api/characters/1,,Female,Braavosi,,,[],[The Daughter of the Dusk],,,,[],[https://anapioficeandfire.com/api/books/5],[],[],[]
2,https://anapioficeandfire.com/api/characters/2,Walder,Male,,,,[],[Hodor],,,,[https://anapioficeandfire.com/api/houses/362],"[https://anapioficeandfire.com/api/books/1, ht...",[],"[Season 1, Season 2, Season 3, Season 4, Seaso...",[Kristian Nairn]
3,https://anapioficeandfire.com/api/characters/3,,Male,,,,[],[Lamprey],,,,[https://anapioficeandfire.com/api/houses/15],[https://anapioficeandfire.com/api/books/3],[],[],[]
4,https://www.anapioficeandfire.com/api/characte...,,Female,Braavosi,,,[],[The Merling Queen],,,,[],[https://www.anapioficeandfire.com/api/books/5...,[],[],[]
5,https://anapioficeandfire.com/api/characters/5,,Male,,,,[],[Old Crackbones],,,,[],[https://anapioficeandfire.com/api/books/5],[],[],[]