In [2]:
import pandas as pd

path_to_file = 'c:\\Users\\Admin\\Desktop\\introduction_to_python\\pandas_training_bikes'


data = pd.read_csv(path_to_file + "/comptage-velo-donnees-compteurs.csv", sep=";")
#data.head()

In [3]:
list_of_counters = data["Nom du site de comptage"].unique()

In [33]:
#print((list_of_counters))
bikes_per_counter = {}
for i in (list_of_counters):
    mask = data["Nom du site de comptage"]==i
    nb_bikes=data[mask]["Comptage horaire"].sum()
    bikes_per_counter[i]=nb_bikes

In [26]:
bikes_per_counter

{'97 avenue Denfert Rochereau': 636047,
 '105 rue La Fayette': 0,
 '106 avenue Denfert Rochereau': 333971,
 '135 avenue Daumesnil': 680884,
 '100 rue La Fayette': 0,
 '28 boulevard Diderot': 696345,
 '39 quai François Mauriac': 1380632,
 "18 quai de l'Hôtel de Ville": 730445,
 '27 boulevard Diderot': 617887,
 'Voie Georges Pompidou': 1228788,
 '67 boulevard Voltaire': 1572787,
 '10 avenue de la Grande Armée': 363866,
 '7 avenue de la Grande Armée': 413539,
 '72 boulevard Voltaire': 1631192,
 '89 boulevard de Magenta': 2232512,
 '16 avenue de la Porte des Ternes': 257403,
 'Pont du Garigliano': 1241760,
 '102 boulevard de Magenta': 2263947,
 'Face au 16 avenue de la  Porte des Ternes': 316298,
 '21 boulevard Auguste Blanqui': 318294,
 '72 boulevard Richard Lenoir': 1402503,
 'Pont National': 1309256,
 'Face au 48 quai de la marne': 2020761,
 '77 boulevard Richard Lenoir': 1203641,
 "Face 104 rue d'Aubervilliers": 1194870,
 'Face au 70 quai de Bercy': 936173,
 '6 rue Julia Bartet': 1150998,
 "Face au 25 quai de l'Oise": 1249536,
 '35 boulevard de Ménilmontant': 1813316,
 '152 boulevard du Montparnasse': 1004219,
 '10 boulevard Auguste Blanqui': 445137,
 '243 boulevard Saint Germain': 712455,
 'Totem 64 Rue de Rivoli': 4273601,
 '87 avenue de Flandre': 1039312,
 '72 avenue de Flandre': 913694,
 '44 avenue des Champs Elysées': 602223,
 "180 avenue d'Italie": 509281,
 '129 rue Lecourbe': 503755,
 "147 avenue d'Italie": 517489,
 '33 avenue des Champs Elysées': 802987,
 '132 rue Lecourbe': 551528,
 'Pont de la Concorde': 2082534,
 'Pont des Invalides': 1160673,
 'Face au 8 avenue de la porte de Charenton': 351701,
 'Face au 4 avenue de la porte de Bagnolet': 862694,
 'Pont Charles De Gaulle': 1123222,
 '36 quai de Grenelle': 1715772,
 "Face au 40 quai D'Issy": 483113,
 'Pont de Bercy': 1148210,
 '38 rue Turbigo': 2725575,
 "Quai d'Orsay": 3291524,
 '27 quai de la Tournelle': 2624481,
 "Totem 85 quai d'Austerlitz": 2126792,
 'Totem Cours la Reine': 840220,
 'Totem 73 boulevard de Sébastopol': 5817300,
 '21 boulevard Saint Michel': 0,
 'Quai des Tuileries': 1107480,
 '9 boulevard Jourdan': 664415,
 '24 boulevard Jourdan': 656944,
 '27 boulevard Davout': 243668,
 '42 boulevard Soult': 1050039,
 '51 boulevard du Général Martial Valin': 627622,
 '56 boulevard Kellermann': 593277,
 '72 boulevard Brune': 513874,
 '77 boulevard Masséna': 980678,
 '81 boulevard Mortier': 519867,
 '98 boulevard Poniatowski': 1033006,
 '163 boulevard Brune': 684040,
 'Face au 49 boulevard du Général Martial Valin': 529232}

In [40]:
cols = ["compteur", "total_velos"]

data_bikes = pd.DataFrame.from_dict(bikes_per_counter, orient='index', columns=["total_velos"])

In [41]:
data_bikes[""]

                              total_velos
97 avenue Denfert Rochereau        636047
105 rue La Fayette                      0
106 avenue Denfert Rochereau       333971
135 avenue Daumesnil               680884
100 rue La Fayette                      0