In [72]:
import pandas as pd

data = pd.read_csv("data/DS_RP_POPULATION_PRINC_data.csv", sep=";", dtype={'GEO':str})
meta = pd.read_csv("data/DS_RP_POPULATION_PRINC_metadata.csv", sep=";")

In [103]:
meta_clean = meta.iloc[:,2:]

In [104]:
meta_clean.head()

  COD_MOD          LIB_MOD
0  Y15T24  De 15 à 24 ans
1  Y25T39   De 25 à 39 ans
2  Y40T54   De 40 à 54 ans
3  Y55T64   De 55 à 64 ans
4  Y65T79   De 65 à 79 ans

In [98]:
meta.head()

  COD_VAR LIB_VAR COD_MOD          LIB_MOD
0     AGE     Âge  Y15T24  De 15 à 24 ans
1     AGE     Âge  Y25T39   De 25 à 39 ans
2     AGE     Âge  Y40T54   De 40 à 54 ans
3     AGE     Âge  Y55T64   De 55 à 64 ans
4     AGE     Âge  Y65T79   De 65 à 79 ans

In [66]:
data.head()

,GEO,GEO_OBJECT,SEX,EMPSTA_ENQ,AGE,HAR,RP_MEASURE,CIVIL_STATUS,TIME_PERIOD,OBS_VALUE
0,44107,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,241.43284
1,41202,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,272.34522
2,38102,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,91.31346
3,46106,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,164.43183
4,35221,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,546.04913

In [83]:
data_head = data.head()

In [84]:
data_head.count()

GEO             5
GEO_OBJECT      5
SEX             5
EMPSTA_ENQ      5
AGE             5
HAR             5
RP_MEASURE      5
CIVIL_STATUS    5
TIME_PERIOD     5
OBS_VALUE       5
dtype: int64

In [94]:
match = (meta_clean['COD_MOD'] == "Y_GE15")
print(match)
grade = meta['LIB_MOD'][match]
print(grade.values[0])

0        False
1        False
2        False
3        False
4        False
         ...
41886    False
41887    False
41888    False
41889    False
41890    False
Name: COD_MOD, Length: 41891, dtype: bool
15 ans ou plus

In [105]:
def lookup_lib(code):
    match = (meta['COD_MOD'] == code) 
    
    grade = meta['LIB_MOD'][match]
    return grade.values[0]


data_head.apply(lookup_lib, axis=0)

ValueError: Can only compare identically-labeled Series objects