In [5]:
import pandas as pd

data = pd.read_csv("data/DS_RP_POPULATION_PRINC_data.csv", sep=";")
meta = pd.read_csv("data/DS_RP_POPULATION_PRINC_metadata.csv", sep=";")
data.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_10476\627746763.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data/DS_RP_POPULATION_PRINC_data.csv", sep=";")

,GEO,GEO_OBJECT,SEX,EMPSTA_ENQ,AGE,HAR,RP_MEASURE,CIVIL_STATUS,TIME_PERIOD,OBS_VALUE
0,44107,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,241.43284
1,41202,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,272.34522
2,38102,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,91.31346
3,46106,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,164.43183
4,35221,UU2020,_T,33,Y_GE15,_T,POP,_T,2021,546.04913

In [6]:
data.count()

GEO             6101001
GEO_OBJECT      6101001
SEX             6101001
EMPSTA_ENQ      6101001
AGE             6101001
HAR             6101001
RP_MEASURE      6101001
CIVIL_STATUS    6101001
TIME_PERIOD     6101001
OBS_VALUE       6101001
dtype: int64

In [14]:
#!/bin/python3

import math
import os
import random
import re
import sys
import datetime as d

# Complete the time_delta function below.
def time_delta(t1, t2):
    print(t1)
    date1 = d.datetime.strptime(t1, '%a %d %B %Y %H:%M:%S %z') 
    date2 = d.datetime.strptime(t2, '%a %d %B %Y %H:%M:%S %z') 
    return date1-date2

if __name__ == '__main__':

    t1 = "Sun 10 May 2015 13:54:36 -0700"
    t2 = "Sun 10 May 2015 13:54:36 -0000"
    delta = time_delta(t1, t2)
    print(delta.total_seconds())
    t1 = "Sat 02 May 2015 19:54:36 +0530"
    t2 = "Fri 01 May 2015 13:54:36 -0000"   
    delta = time_delta(t1, t2)
    print(delta.total_seconds())

Sun 10 May 2015 13:54:36 -0700
25200.0
Sat 02 May 2015 19:54:36 +0530
88200.0

In [ ]:
2
Sun 10 May 2015 13:54:36 -0700
Sun 10 May 2015 13:54:36 -0000
Sat 02 May 2015 19:54:36 +0530
Fri 01 May 2015 13:54:36 -0000