In [2]:
stocks = {"Apple":274, "Google":1250, "Microsoft": 172, "Amazon":2369}
print(stocks)

{'Apple': 274, 'Google': 1250, 'Microsoft': 172, 'Amazon': 2369}

In [5]:
for key, value in stocks.items():
    print(key, value)

Apple 274
Google 1250
Microsoft 172
Amazon 2369

In [7]:
for key in stocks.keys():
    print(key)
for value in stocks.values():
    print(value)

Apple
Google
Microsoft
Amazon
274
1250
172
2369

In [9]:
dollar_to_euro = 0.92

{key : value * dollar_to_euro for key,value in stocks.items()}

{'Apple': 252.08, 'Google': 1150.0, 'Microsoft': 158.24, 'Amazon': 2179.48}

In [10]:
{key: value for key, value in stocks.items()}

{'Apple': 274, 'Google': 1250, 'Microsoft': 172, 'Amazon': 2369}

In [11]:
{key: value for key, value in stocks.items() if value > 1000}

{'Google': 1250, 'Amazon': 2369}

In [12]:
{key: ("low price" if value < 1000 else "high price") for key, value in stocks.items()}

{'Apple': 'low price',
 'Google': 'high price',
 'Microsoft': 'low price',
 'Amazon': 'high price'}